<!-- Shared head resources -->
<meta name="color-scheme" content="light dark" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/favicon-180-precomposed.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/favicon-192.png">
<link rel="icon" type="image/png" sizes="152x152" href="/assets/favicon/favicon-152-precomposed.png">
<link rel="icon" type="image/png" sizes="144x144" href="/assets/favicon/favicon-144-precomposed.png">
<link rel="icon" type="image/png" sizes="120x120" href="/assets/favicon/favicon-120-precomposed.png">
<link rel="icon" type="image/png" sizes="114x114" href="/assets/favicon/favicon-114-precomposed.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96.png">
<link rel="icon" type="image/png" sizes="76x76" href="/assets/favicon/favicon-76.png">
<link rel="icon" type="image/png" sizes="72x72" href="/assets/favicon/favicon-72-precomposed.png">
<link rel="icon" type="image/png" sizes="60x60" href="/assets/favicon/favicon-60.png">
<link rel="icon" type="image/png" sizes="57x57" href="/assets/favicon/favicon-57.png">
<link rel="icon" type="image/png" sizes="48x48" href="/assets/favicon/favicon-48.png">
<link rel="icon" type="image/png" sizes="36x36" href="/assets/favicon/favicon-36.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32.png">
<link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico">
<link rel="manifest" href="/assets/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/assets/css/style.css?v=1" />
<!-- Shared Head Partial -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="/assets/favicon.ico" />
<link rel="stylesheet" href="/assets/css/style.css?v=1" />
<script defer src="/assets/js/navigation.js"></script>
<!-- End Shared Head Partial -->
