.DS_Store
.cfpages-dist/
*.bak
node_modules/

# editor temp files
*.tmp
*.tmp.*
*.tmp.html
*.tmp.new
*~
.#*


#Ignore windsurf AI rules
.windsurfrules


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
